commands:
  01_install_node:
      command: |
        test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
        test: '[ ! -f /usr/bin/yarn ] && echo "Yarn not found, installing..."'
        echo "Installing node and yarn"
  02_install_yarn:
      command: |
        sudo curl --silent --location https://rpm.nodesource.com/setup_14.x | sudo bash -
        sudo yum -y install nodejs
        echo "Installing yarn"
        sudo wget https://dl.yarnpkg.com/rpm/yarn.repo -O /etc/yum.repos.d/yarn.repo;
        sudo yum -y install yarn;
        yarn add env-cmd
  03_dependencies_install:
      command: |
        cd /var/app/staging;
        sudo yarn;

container_commands:
  01_sudo_install:
    command: sudo cd /home/webapp && sudo yarn